# Configuración del Backend (Servidor)

# Puerto en el que corre el servidor (en plataformas como Render / Railway / Heroku esto se asigna automáticamente)
PORT=4000

# Cadena de conexión a MongoDB Atlas o local
# Ejemplo de MongoDB Atlas: mongodb+srv://<usuario>:<password>@cluster0.abcde.mongodb.net/watchparty?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/watch_party

# URL del Frontend (tu dominio en Vercel o localhost en desarrollo)
# Ejemplo en Vercel: https://mi-watch-party.vercel.app
CLIENT_URL=http://localhost:5173
